.item {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: aliceblue;
}

.avatar {
  justify-content: center;
}

.name,
.status {
  text-align: center;
}

.name {
  font-weight: 700;
  font-size: 15px;
  text-decoration: inherit;
}

.Online {
  font-size: 15px;
  color: green;
  text-align: center;
}

.Offline {
  font-size: 15px;
  color: red;
  text-align: center;
}
